<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/alertRegisterU.css">
    <title>ClickAlertFEM</title>
</head>

<body class="section">
    <div class="container">
        <div class="card">
            <p> El usuario ya está registrado </p>
            <div class="botones">
                <a href="/registro">VOLVER</a>
            </div>
        </div>
    </div>
</body>

</html>