<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/alertindexc.css">
    <title>ClickAlertFEM</title>
</head>

<body class="section">
    <div class="container">
        <div class="card">
            <p> EL USUARIO NO EXISTE! </p>
            <div class="botones">
                <a href="/login">REGRESAR</a>
            </div>
        </div>
    </div>
</body>

</html>