<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width =device-width, initial-scale=" 1>
    <title>ClickAlertFEM</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">

</head>

<body>

    <header class="header" id="inicio">
        <img src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656433577/clickalertfem/logo_white_large_mfj7re.png"
            class="logo">
        <img src="img/25.svg" alt="" class="primera">

        </nav>
        <div class="contenedor head">
            <h1 class="titulo">servidores de tu bienestar y seguridad</h1>
            <p class="copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod culpa</p>
            <div class="botones">
                <a href="/login"><span></span>login</a>
                <a href="/registro"><span></span>registro</a>
            </div>
        </div>

    </header>

    <div id="menu">
        <nav>
            <ul>
                <li><a href="#">INICIO</a></li>
                <li><a href="#">OPCIONES</a></li>
                <li><a href="#">AYUDA</a></li>
            </ul>
        </nav>
    </div>
    <div id="menubtn">
        <img src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656433549/clickalertfem/menu_rbvefp.png"
            id="despleg">
    </div>


    <section id="centro">
        <div class="titulo-texto">
            <p>CARACTERISTICAS</p>
            <h1>¿como ayudamos?</h1>
        </div>


        <div class="centro-box">
            <div class="centro">
                <h1>cuidandote siempre</h1>
                <div class="centro-desc">
                    <div class="centro-icon">
                        <i class='bx bx-shield-quarter'></i>
                    </div>
                    <div class="centro-text">
                        <p>La idea principal de nuestra pagina es que las mujeres sientan que tienen una 
                            herrramienta a la mano que usen en cualquier caso que sea necesario y ellas consideren que  esten en una situacion  de riesgo, se penso en la comodidad y la facilidad de interactuar con la pagina para que su uso sea del agrado a nuestro publico femenino </p>
                    </div>
                </div>
                <h1>Que ofrecemos</h1>
                <div class="centro-desc">
                    <div class="centro-icon">
                        <i class='bx bxs-wink-smile'></i>
                    </div>
                    <div class="centro-text">
                        <p>Click Alert Fem ofrece a las mujeres una página web donde su principal función es un botón de alerta, donde cualquier mujer que esté registrada pueda mandar una alerta que va a ser recibida por un moderador y  al confirmar la alerta mandará la notificación a una entidad y esta  se encargará de mandar ayuda adecuada a el lugar donde se activó la alerta, aparte de esto click alert fem ofrece una funcionalidad y una eficacia  a la hora de su manera de uso </p>
                    </div>
                </div>
                <h1>cual es nuestro alcanze</h1>
                <div class="centro-desc">
                    <div class="centro-icon">
                        <i class='bx bxs-check-square'></i>
                    </div>
                    <div class="centro-text">
                        <p>El futuro del aplicatico será contar con un apartado 
                            de rutas y un CRUD funcional y más personalizaciones en futuras versiones. </p>
                    </div>
                </div>
                <h1>creadores</h1>
                <div class="centro-desc">
                    <div class="centro-icon">
                        <i class='bx bxs-donate-heart'></i>
                    </div>
                    <div class="centro-text">
                        <p>Mariana Valencia Henao <br>
                        Santiago Celada Orozco <br>
                    Valentina Andrade Montes <br>
                Keyla Michel Cuenca </p>
                    </div>
                </div>
                <h1>NIUNAMÁS#</h1>
                <div class="centro-desc">
                    <div class="centro-icon">
                      
                    </div>
                    <div class="centro-text">
                
                    </div>
                </div>
            </div>
            <div class="centro-img">
                <img
                    src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656433261/clickalertfem/5_t2db2n.jpg">
            </div>
        </div>
    </section>

    <!--shilider-->




    <section class="slider">
        <div class="slider__container container">
            <img src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656434656/clickalertfem/arrow_b07adp.svg" class="slider__arrow" id="before">

            <section class="slider__body  slider__body--show" data-id="1">
                <div class="slider__texts">
                    <h2 class="subtitulo">hola mi nombre es Maricarmen Riveros</h2>
                    <p class="slider__reviw">
                        CLICK ALERT FEM  a mi parecer es una pagina muy util y es facil de manejar en cuestión de cualquier emergencia la verdad me hace sentir segura saber que es rapida con sus alertas y lo que promete cumple
                    </p>
                </div>
                <figure class="slider__picture">
                    <img src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656433213/clickalertfem/4_svvix5.jpg"
                        class="slider__img">
                </figure>
            </section>


            <section class="slider__body" data-id="2">
                <div class="slider__texts">
                    <h2 class="subtitulo">hola mi nombre es Rosalba Bermudez</h2>
                    <p class="slider__reviw">
                        A mi parecer CLICK ALERT  FEM   es una página web donde tiene una información muy util y una manera muy facil de manejar en mi experiencia manda las alertas muy rapidas y es una manera mas facil para salir y estar tranquila
                    </p>
                </div>
                <figure class="slider__picture">
                    <img src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656433339/clickalertfem/6_r7waxq.jpg"
                        class="slider__img">
                </figure>
            </section>


            <section class="slider__body" data-id="3">
                <div class="slider__texts">
                    <h2 class="subtitulo">hola mi nombre es Javiera Gomez</h2>
                    <p class="slider__reviw">
                        Mi experiencia con CLICK ALERT FEM  me salvo de un posible abuso o agresión  ya que hace un tiempo sali como todos los dias a caminar un poco y un señor de edad me estaba siguiendo por mucho tiempo y ya que tenia la pagina a la mano pude mandar rápidamente una alerta y mas específicamente mi ruta y no duro mucho tiempo para que llegara la policia y detuvieran a el señor
                    </p>
                </div>
                <figure class="slider__picture">
                    <img src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656433445/clickalertfem/7_wmxwch.jpg"
                        class="slider__img">
                </figure>
            </section>

            <img src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656434656/clickalertfem/arrowI_gs5dg8.svg" class="slider__arrow" id="next">

        </div>





    </section>
    </section>
    <script>
        var menubtn = document.getElementById("menubtn")
        var menu = document.getElementById("menu")
        var despleg = document.getElementById("despleg")

        menu.style.right = "-250px";

        menubtn.onclick = function () {
            if (menu.style.right == "-250px") {
                menu.style.right = "0";
                despleg.src =
                    "https://res.cloudinary.com/click-alert-fem/image/upload/v1656433467/clickalertfem/close_aw7oov.png";
            } else {
                menu.style.right = "-250px";
                despleg.src =
                    "https://res.cloudinary.com/click-alert-fem/image/upload/v1656433467/clickalertfem/close_aw7oov.png";
            }
        }
    </script>
    <script>
        (function () {
            const sliders = [...document.querySelectorAll('.slider__body')];
            const arrowNext = document.querySelector('#next');
            const arrowBefore = document.querySelector('#before');
            let value;


            arrowNext.addEventListener('click', () => changePosition(1));

            arrowBefore.addEventListener('click', () => changePosition(-1));

            function changePosition(change) {
                const currentElement = Number(document.querySelector('.slider__body--show').dataset.id);

                value = currentElement;
                value += change;

                console.log(sliders.length)
                if (value === 0 || value == sliders.length + 1) {
                    value = value === 0 ? sliders.length : 1;
                }



                sliders[value - 1].classList.toggle('slider__body--show');
                sliders[currentElement - 1].classList.toggle('slider__body--show');
            }
        })()
    </script>
</body>
<footer id="contacto">
    <div class="contenedor footer-content">
        <div class="contact-us">
            <h2 class="brand">click alert fem</h2>
            <p>provedores de seguridad a un click</p>
        </div>
        <div class="social-media">
            <a href="#" class="social-media-icon">
                <i class='bx bxl-gmail'></i>
            </a>

            <a href="#" class="social-media-icon">
                <i class='bx bxl-github'></i>
            </a>

            <a href="#" class="social-media-icon">
                <i class='bx bxl-slack'></i>
            </a>
        </div>
    </div>


</footer>

</html>