<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylec.css">
    <link rel="stylesheet" href="css/stylec1.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


    <title>ClickAlertFEM</title>
</head>

<body class="body">
    <script>
        function sonar() {
            console.log(555);
            let sound = new Audio();
            sound.src = "a.mp3";
            sound.play()
            console.log(sound);
        }
    </script>

    <header>

        <nav>
            <div class="box1">
                <a href="#">inicio</a>
                <a href="#">rutas</a>
                <a href="">opciones</a>
                <a href="#">cerrar sesión</a>
            </div>
            <div class="box2">
                <p> <%= name %> </p>
                <img src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656549105/clickalertfem/person_vfvb3n.png"
                    alt="" width="50px">
            </div>

        </nav>
    </header>


    <main>
        <form action="/correo" method="get">
            <div class="container-buttons" onclick="sonar()">
                <button href="#" class="three">
                    <img src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656503386/bx-bell_zqxfve.svg"
                        alt="" srcset="">

                </button>
        </form>


        </div>
    </main>
    <footer>
        <section>
            <div class="container1">
                <h2>CLICK ALERT FEM</h2>
                <p>proveedores de seguridad a un click</p>
            </div>
            <div class="container2">
                <a href="http://"><img id="img1"
                        src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656550831/clickalertfem/facebook_jaswnv.png"
                        alt="" srcset=""></a>
                <a href="http://"><img id="img1"
                        src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656550848/clickalertfem/gmaillll_kskbj6.png"
                        alt="" srcset=""></a>
                <a href="http://"><img id="img1"
                        src="https://res.cloudinary.com/click-alert-fem/image/upload/v1656560140/clickalertfem/instagram-logo-24_ezwfrs.png"
                        alt="" srcset=""></a>
            </div>
        </section>
    </footer>


    <!-- <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script> -->
</body>
<!-- <footer class="footer">
    <div class="footer-content">
        <div class="contact-us">
            <h2 class="brand">click alert fem</h2>
            <p>provedores de seguridad a un click</p>
        </div>
        <div class="social-media">
            <a href="./" class="social-media-icon">
                <i class='bx bxl-gmail'></i>
            </a>

            <a href="./" class="social-media-icon">
                <i class='bx bxl-github'></i>
            </a>

            <a href="./" class="social-media-icon">
                <i class='bx bxl-slack'></i>
            </a>
        </div> -->

</html>