<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/estilof.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap" rel="stylesheet">
    <title>ClickAlertFEM</title>
</head>

<body>
    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>LOG IN</h2>
                <form action="/login" method="post">
                    <input name="num_id" type="text" class="field" placeholder="ingresa tu documento">
                    <input name="password" type="password" class="field" placeholder="ingresa tu contraseña">
                    <button class="btn">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>