<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/estilook.css">
  <title>ClickAlertFEM</title>
</head>

<body class="section">
  <div class="container">
    <div class="card">
      <p> REGISTRO EXITOSO! </p>
      <p id="p1">Bienvenid@</p>
      <div class="botones">
        <a href="/">Ir al inicio</a>
        <a href="/login">Iniciar sesión</a>
      </div>
    </div>
  </div>
</body>

</html>